{% extends "base.html" %}
{% block content %}
						<!-- floatings/default.html -->
						<div class="section">FLOATING PANELS</div>
						<style>
						#content div {
							float: left;
							width: 200px;
							height: 200px;
							margin: 0 10px 10px 0;
							background-color: #505050;
							color: #ffffff;
						}
						</style>
						<div id="content">
							<div id="floating_panel1" onclick="javascript: _update(this);">コンテンツ1</div>
							<div id="floating_panel2" onclick="javascript: _update(this);">コンテンツ2</div>
							<div id="floating_panel3" onclick="javascript: _update(this);">コンテンツ3</div>
							<div id="floating_panel4" onclick="javascript: _update(this);">コンテンツ4</div>
						</div>
						<script>
						function _update(panel) {
							var r = new XMLHttpRequest();
							r.addEventListener("load", function(e) {
								var j = JSON.parse(r.responseText);
								panel.innerHTML = j.time;
							});
							r.open("GET", "/floatings/time?panel=" + panel.id);
							r.send();
						}
						</script>
{% endblock %}
