<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Django Application Sample - [{{ window_title }}]</title>
		<link rel="stylesheet" type="text/css" href="/static/system.css">
		<script type="text/javascript" src="/static/prototype.js"></script>
		<script type="text/javascript" src="/static/jquery-2.1.1.js"></script>
		<script>jQuery.noConflict();</script>
	</head>
	<body class="base">
		<form method="post" id="default_form" action="{{ page_action }}">
			<a href="/"><span class="banner">Django Application Sample</span></a><br>
			<span style="color: #999999;">[{{ menuitems.user }}] ({{ menuitems.logged_in_time }} sec.)&nbsp;<a href="/logout" style="color: #999999">logout</a></span>
			<hr>
			<table>
				<tr>
					<td style="vertical-align: top">
						<table>
							<tr>
								<td><div class="menuitem_cell"><a href="/admin/" class="menuitem" target="_blank" style="color: #d02020">administration</a></div></td>
							</tr>
							<tr>
								<td><div class="menuitem_cell"><a href="/api" class="menuitem" target="_blank">API</a></div></td>
							</tr>
							<tr>
								<td><div class="menuitem_cell"><a href="/filters/" class="menuitem" style="color: #40a040">netfilter</a></div></td>
							</tr>
							<tr>
								<td><div class="menuitem_cell"><a href="/listeners/" class="menuitem" style="color: #205090">netstat</a></div></td>
							</tr>
							<tr>
								<td><div class="menuitem_cell"><a href="/xusers/" class="menuitem" style="color: #f09010">xusers</a></div></td>
							</tr>
							<tr>
								<td><div class="menuitem_cell"><a href="/top/" class="menuitem" style="color: #a0a030">top</a></div></td>
							</tr>
							<tr>
								<td><div class="menuitem_cell"><a href="/chat/" class="menuitem" style="color: #90d020">chat</a></div></td>
							</tr>
							<tr>
								<td><div class="menuitem_cell"><a href="/floatings/" class="menuitem" style="color: #407090">floatings</a></div></td>
							</tr>
							<tr>
								<td><div class="menuitem_cell"><a href="/gview01/" class="menuitem">generic view samples(01)</a></div></td>
							</tr>
							<tr>
								<td><div class="menuitem_cell"><a href="/gview02/" class="menuitem">generic view samples(02)</a></div></td>
							</tr>
							<tr>
								<td><div class="menuitem_cell"><a href="/events/" class="menuitem">HTML events</a></div></td>
							</tr>
						</table>
					</td>
					<td style="vertical-align: top">
						<!-- 埋め込み開始位置 -->
						{% block content %}
						{% endblock %}
						<!-- 埋め込み終了位置 -->
					</td>
				</tr>
			</table>
			<br>
			<hr>
			<table>
				<tr>
					<td><div class="powerd_by">POWERD BY DJANGO</div></td>
				</tr>
				<tr>
					<td><a href="https://www.djangoproject.com/"><img src="/static/django-logo-negative.png" class="powerd_by"></a></td>
				</tr>
			</table>
			{% csrf_token %}
			<script>
			if(typeof _onload_document == "function") {
				jQuery(document).ready(_onload_document);
			}
			</script>
		</form>
	</body>
</html>
<!-- base.html -->
