<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/static/system.css">
	</head>
	<body class="base">
		<form method="post" action="/">
			<div style="font-size: 64px">Django Application Sample</div>
			<hr>
			<a href="/" class="base">HOME</a> | <a href="/login" class="base">LOGIN</a> | <a href="/api" class="base">API</a> | <a href="/list/show" class="base">netfilter</a><br>
			<hr>
				<div style="text-align: right"><span style="font-size: 32px">こんにちは [{{ session.user }}]. </span></div><br>
			{% csrf_token %}
		</form>
	</body>
</html>

