<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Django Application Sample - [Home]</title>
		<link rel="stylesheet" type="text/css" href="/static/system.css">
	</head>
	<body class="base">
		<form method="post" action="/">
			<a href="/"><span class="banner">Django Application Sample</span></a><br>
			<span style="color: #999999;">[{{ menuitems.user }}] ({{ menuitems.logged_in_time }} sec.)&nbsp;<a href="/logout" style="color: #999999">logout</a></span>
			<hr>
			<table>
				<tr>
					<td>
						<table>
							<tr>
								<td><div class="menuitem_cell"><a href="/api" class="menuitem" target="_blank">API</a></div></td>
							</tr>
							<tr>
								<td><div class="menuitem_cell"><a href="/filters/show" class="menuitem">netfilter</a></div></td>
							</tr>
							<tr>
								<td><div class="menuitem_cell"><a href="/listeners/show" class="menuitem">netstat</a></div></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			{% csrf_token %}
		</form>
	</body>
</html>

