<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/static/system.css">
	</head>
	<body class="base">
		<form method="post" action="/">
			<table width="100%">
				<tr>
					<td><a href="/"><span class="banner">Django Application Sample</span></a></td>
					<td style="vertical-align: bottom"><div style="text-align: right; color: #999999; ">[{{ session.user }}]</div></td>
					<td style="vertical-align: bottom"><a href="/logout" style="color: #999999">logout</a></td>
				</tr>
			</table>
			<hr>
			<table>
				<tr>
					<td>
						<table>
							<tr>
								<td><a href="/api" class="base" target="_blank">API</a></td>
							</tr>
							<tr>
								<td><a href="/list/show" class="base">netfilter</a></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			{% csrf_token %}
		</form>
	</body>
</html>

