<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ログイン</title>
		<link rel="stylesheet" type="text/css" href="/static/system.css">
	</head>
	<body class="base">
		<form method="post" action="/login">
			<a href="/"><span class="banner">Django Application Sample</span></a>
			<center>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<table>
					<tr>
						<td><span class="login_form_label">mail address</span></td>
						<td><div style="width: 20px"></div></td>
						<td><input class="login_form" type="text" name="login.user" value="" style="{{ form_data.user_name }}" placeholder="Email Address"></td>
					</tr>
					<tr>
						<td><span class="login_form_label">password</span></td>
						<td></td>
						<td><input class="login_form" type="password" name="login.password" value="" placeholder="Password"></td>
					</tr>
				</table>
				<br>
				<input type="submit" name="login.submit_button" value="     submit     " id="login_button_control"><br><br>
				<a href="javascript: void(0)">or click here to sign-up.</a>
			</center>
			<hr>
			{% csrf_token %}
		</form>
	</body>
</html>

