{% load nn %}
{% load i18n %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Django Application Sample - [{% trans 'LOGIN' %}]</title>
		<link rel="stylesheet" type="text/css" href="/static/system.css">
		<script type="text/javascript" src="/static/prototype.js"></script>
		<script type="text/javascript" src="/static/jquery-2.1.1.js"></script>
		<script>jQuery.noConflict();</script>
	</head>
	<body class="base">
		<form method="post" id="default_form" action="/login">
			<a href="/"><span class="banner">Django Application Sample</span></a><br>
			<center>
				<br>
				<br>
				<br>
				{{ greeting_message_text }}<br>
				<br>
				{{ error_message }}
				<br>
				<br>
				<table>
					<tr>
						<td><span class="login_form_label">MAIL ADDRESS</span></td>
						<td><div style="width: 20px"></div></td>
						<td><input class="login_form_user_id" type="text" name="user_id" value="{{ form_data.user_id.value | nn }}" placeholder="EMAIL ADDRESS" id="login_user_id_control"></td>
					</tr>
					<tr>
						<td><span class="login_form_label">PASSWORD</span></td>
						<td></td>
						<td><input class="login_form_password" type="password" name="password" value="" placeholder="PASSWORD" id="login_password_control"></td>
					</tr>
				</table>
				<br>
				<input type="submit" name="submit_button" value="SUBMIT" id="login_button_control"><br><br>
				<br>
				<br>
				<br>
				<br>
			</center>
			<hr>
			{% csrf_token %}
			<script>
			function _onload_document() {
				jQuery('#login_user_id_control').focus();
			}
			jQuery(document).ready(_onload_document);
			</script>
		</form>
	</body>
</html>

