{% extends "base.html" %}
{% block content %}
						<h2 class="section">users</h2>
						<table>
							<tr style="background-color: #203040; color: #ffffff;">
								<td><span class="">ユーザー<!--(※入力された内容が os のユーザー名になります)--></span></td>
								<td><input type="text" name="users.add.form.user" style="width: 300px; font-size: 26px" placeholder="ユーザー" value="{{ form_data.user }}"></td>
							</tr>
							<tr style="background-color: #203040; color: #ffffff;">
								<td><span class="">パスワード</span></td>
								<td><input type="password" name="users.add.form.password" style="width: 300px; font-size: 26px" placeholder="パスワード" value=""></td>
							</tr>
							<tr style="background-color: #203040; color: #ffffff;">
								<td><span class="">グループ</span></td>
								<td><input type="text" name="users.add.form.group" style="width: 300px; font-size: 26px" placeholder="グループ" value="{{ form_data.group }}"></td>
							</tr>
						</table>
						<br>
						<input type="submit" name="users.add.form.submit_button" value="作成">&nbsp;<input type="button" onclick="javascript: location.href = &quot;/users/show&quot;;" value="中止">
{% endblock %}
