{% extends "base.html" %}
{% block content %}
						<!-- users/show.html -->
						<h2 class="section">users</h2>
						<input type="button" onclick="javascript: location.href = &quot;/users/add&quot;" value="新しいユーザーを作成">
						<table>
							<tr style="background-color: #203040; color: #ffffff;">
								<td><div class="code">USERS</div></td>
								<td><div class="code">操作</div></td>
							</tr>
							{% for line in form.users %}
							<tr style="background-color: #203040; color: #ffffff;">
								<td><div class="code" style="">{{ line }}&nbsp;さん</div></td>
								<td><input type="button" value="編集">&nbsp;<input type="button" value="停止"></td>
							</tr>
							{% endfor %}
						</table>
						<br>
						<input type="button" onclick="javascript: location.href = &quot;/users/add&quot;" value="新しいユーザーを作成">
{% endblock %}
