{% extends "base.html" %}
{% block content %}
						<!-- top/show.html -->
						<h2 class="section">top</h2>
						<div id="inner_content"></div>
						<script>
						// 自動更新の仕掛けを初期化(prototype.js を使用)
						var my_loader = null;
						function _onload_document() {
							my_loader = new Ajax.PeriodicalUpdater(
								"inner_content",
								"/top/content",
								{
									method: "get",
									parameters: "",
									frequency: 5,
									onSuccess: function(request) {
									},
									onComplete: function(request) {
									},
									onFailure: function(request) {
										alert('onFailure');
									},
									onException: function (request, e) {
										alert('onException');
									}
								}
							);
						}
						</script>
{% endblock %}
