{% extends "base.html" %}
{% block content %}
						<!-- top/show.html -->
						<h2 class="section">top</h2>
						<table border="0" cellspacing="0" cellpadding="1">
						{% for line in form.lines %}
							<tr style="background-color: #203040; color: #ffffff;">
								<td><span class="code">{{ line }}</span></td>
							</tr>
						{% endfor %}
						</table>
						<script>
						function _execute_reload_document() {
							location.href = "./";
						}
						window.setInterval(_execute_reload_document, 5000);
						</script>
{% endblock %}
