{% extends "base.html" %}
{% block content %}
						<!-- floatings/default.html -->
						<h2 class="section">FLOATING PANELS</h2>
						<style>
						#content li {
							float: left;
							width: 200px;
							height: 200px;
							margin: 0 10px 10px 0;
							background-color: #505050;
							color: #ffffff;
						}

						#content div {
							float: left;
							width: 200px;
							height: 200px;
							margin: 0 10px 10px 0;
							background-color: #505050;
							color: #ffffff;
						}
						</style>
						<div id="wrapper">
							<div id="header"></div>
							<div id="content">
								<div onclick="javascript: _update(this);">コンテンツ1</div>
								<div onclick="javascript: _update(this);">コンテンツ2</div>
								<div onclick="javascript: _update(this);">コンテンツ3</div>
								<div onclick="javascript: _update(this);">コンテンツ4</div>
							</div>
							<div id="footer"></div>
						</div>
						<script>
						function _update(panel) {
							var r = new XMLHttpRequest();
							r.addEventListener("load", function(e) {
								var json_struct = JSON.parse(r.responseText);
								panel.innerHTML = json_struct.time;
							});
							r.open("GET", "/floatings/time");
							r.send();
						}
						</script>
{% endblock %}
