{% extends "base.html" %}
{% block content %}
						<!-- floatings/default.html -->
						<h2 class="section">クラスベース汎用ビュー</h2>

						ああああああああああああああああああああ
						ああああああああああああああああああああ
						ああああああああああああああああああああ
						ああああああああああああああああああああ
						ああああああああああああああああああああ
						ああああああああああああああああああああ
						ああああああああああああああああああああ
						ああああああああああああああああああああ
						ああああああああああああああああああああ
						ああああああああああああああああああああ
						ああああああああああああああああああああ
						ああああああああああああああああああああ
						ああああああああああああああああああああ
						ああああああああああああああああああああ
						ああああああああああああああああああああ
						ああああああああああああああああああああ
						ああああああああああああああああああああ
						ああああああああああああああああああああ
						ああああああああああああああああああああ
						ああああああああああああああああああああ
{% endblock %}
