{% extends "base.html" %}
{% block content %}
						<!-- chat/show.html -->
						<div class="section">CHAT</div>
						<table border="0">
							<tr style="">
								<td>
									<div id="chat_area" style="width: 400px; height: 400px; overflow: scroll; "></div>
								</td>
								<td style="vertical-align: top;">
									<table>
										<tr>
											<td style="vertical-align: top;"><textarea name="message_text" id="id_message_text" style="width: 400px; height: 120px"></textarea></td>
										</tr>
										<tr>
											<td style="vertical-align: top; text-align: right"><input type="submit" name="" id="" value="送信"></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<script>

						var my_loader = null;

						// 自動更新の仕掛けを初期化
						function _setup_reloader() {
							if(my_loader != null)
								alert("二度読み！");
							my_loader = new Ajax.PeriodicalUpdater(
								"chat_area",
								"/chat/messages",
								{
									method: "get",
									parameters: "a=1&b=2&c=3",
									frequency: 1,
									onSuccess: function(request) {
									},
									onComplete: function(request) {
									},
									onFailure: function(request) {
										alert('onFailure');
									},
									onException: function (request, e) {
										alert('onException');
									}
								}
							);
						}

						// キー入力イベント
						function _on_key_textarea(e) {
							if(e.keyCode == 13) {
								control = jQuery(this);
								inner_content = jQuery(control).val();
								if(inner_content.length > 0) {
									jQuery('#default_form').submit();
									return;
								}
								e.preventDefault();
							}
						}

						function _onload_document() {
							// 自動更新の仕掛けを初期化
							_setup_reloader();
							// イベント登録
							// jQuery('#id_message_text').keydown(_on_key_textarea);
							jQuery('#id_message_text').focus();
						}
						</script>
{% endblock %}
