						<!-- filters/content.html -->
						<table border="0" cellspacing="0" cellpadding="1">
							<tr style="background-color: #806868; color: #ffffff;">
								<td><span class="code">INPUT</span></td>
							</tr>
							<tr>
								<td></td>
							</tr>
						{% for line in form.filters.INPUT %}
							<tr style="background-color: #806868; color: #ffffff;">
								<td><span class="code">{{ line }}</span></td>
							</tr>
						{% endfor %}
							<tr>
								<td>&nbsp;</td>
							</tr>
							<tr style="background-color: #806868; color: #ffffff;">
								<td><span class="code">FORWARD</span></td>
							</tr>
							<tr>
								<td></td>
							</tr>
						{% for line in form.filters.FORWARD %}
							<tr style="background-color: #806868; color: #ffffff;">
								<td><span class="code">{{ line }}</span></td>
							</tr>
						{% endfor %}
							<tr>
								<td>&nbsp;</td>
							</tr>
							<tr style="background-color: #806868; color: #ffffff;">
								<td><span class="code">OUTPUT</span></td>
							</tr>
							<tr>
								<td></td>
							</tr>
						{% for line in form.filters.OUTPUT %}
							<tr style="background-color: #806868; color: #ffffff;">
								<td><span class="code">{{ line }}</span></td>
							</tr>
						{% endfor %}
						</table>
