{% extends "base.html" %}
{% block content %}
						<!-- filters/show.html -->
						<h2 class="section">netfilter</h2>
						<table border="0" cellspacing="0" cellpadding="1">
							<tr style="background-color: #203040; color: #ffffff;">
								<td><span class="code">INPUT</span></td>
							</tr>
						{% for line in form.filters.INPUT %}
							<tr style="background-color: #203040; color: #ffffff;">
								<td><span class="code">{{ line }}</span></td>
							</tr>
						{% endfor %}
							<tr style="background-color: #203040; color: #ffffff;">
								<td><span class="code">FORWARD</span></td>
							</tr>
						{% for line in form.filters.FORWARD %}
							<tr style="background-color: #203040; color: #ffffff;">
								<td><span class="code">{{ line }}</span></td>
							</tr>
						{% endfor %}
							<tr style="background-color: #203040; color: #ffffff;">
								<td><span class="code">OUTPUT</span></td>
							</tr>
						{% for line in form.filters.OUTPUT %}
							<tr style="background-color: #203040; color: #ffffff;">
								<td><span class="code">{{ line }}</span></td>
							</tr>
						{% endfor %}
						</table>
{% endblock %}
