{% extends "base.html" %}
{% block content %}
						<!-- listeners/show.html -->
						<h2 class="section">netstat</h2>
						<table border="0" cellspacing="0" cellpadding="1">
							<tr style="background-color: #203040; color: #ffffff;">
								<td><span class="code">STATUS</span></td>
							</tr>
						{% for line in form.listeners %}
							<tr style="background-color: #203040; color: #ffffff;">
								<td><span class="code">{{ line }}</span></td>
							</tr>
						{% endfor %}
						</table>
{% endblock %}
