{% extends "base.html" %}
{% block content %}
						<!-- chat/show.html -->
						<h2 class="section">CHAT</h2>
						<table border="0">
							<tr style="">
								<td>
									<div id="chat_area" style="width: 400px; "></div>
								</td>
								<td style="vertical-align: top;">
									<table>
										<tr>
											<td style="vertical-align: top;"><textarea name="message_text" style="width: 400px; height: 120px"></textarea></td>
										</tr>
										<tr>
											<td style="vertical-align: top; text-align: right"><input type="submit" name="" id="" value="送信"></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>

						<script type="text/javascript" src="/static/prototype.js"></script>

						<script>
						var my_loader = null;
						function _on_load_document() {
							my_loader = new Ajax.PeriodicalUpdater(
								"chat_area",
								"/chat/messages",
								{
									method: "get",
									parameters: "a=1&b=2&c=3",
									frequency: 1,
									onSuccess: function(request) {
									},
									onComplete: function(request) {
									},
									onFailure: function(request) {
										alert('onFailure');
									},
									onException: function (request, e) {
										alert('onException');
									}
								}
							);
						}
						// onload イベントの登録
						Event.observe(window, "load", _on_load_document);
						</script>
{% endblock %}
